:root {
  --black: #1F1F1F;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  min-height: 100vh;
  min-width: 100vw;
  height: 100%;
  width: 100%;
}

.loading-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
  color: #fff;
  background: var(--black);
  .loading-name {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50% 0 0;
    .app-icon {
      height: 90px;
      width: 90px;
      & img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        filter: grayscale(100%) brightness(0) invert(1);
      }
    } 
    .app-name {
      font-weight: 700;
      font-size: 36px;
    }
  }
  .loading-paragraph {
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    max-width: 400px;
    min-width: 300px;
    width: 100%;
    margin: 40px 0;
  } & p:last-child {
    position: absolute;
    bottom: 20px;
    width: 200px;
    text-align: center;
    font-size: 14px;
  }
}
